/* 定数 */
:root{
    --spacevalue: 10px; /* padding等スペース */
    --tboxw : 250px;    /* テキストボックス横幅 */
    --tboxh : 30px;     /* テキストボックス高さ */
}

.show1{
    margin: var(--spacevalue);
    padding: var(--spacevalue);
    background-color: rgb(220, 220, 220);
    padding-top: 0px;
    border-radius: 10px;
}

.show2 {
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

h2{
    margin-bottom: 0px;
}

.inputsize {
    width: var(--tboxw);
    height: var(--tboxh);
    box-sizing:border-box;
}

.alart_cfg {
    color:red;
}

ul {
    padding-left: 10px;
    margin-top: 0px;
}

li{
    list-style: none;
    padding-top: var(--spacevalue);
    padding-right: var(--spacevalue);
}

table {
    border-collapse: collapse;
    /* border-spacing: 0px; */
    width: 100%;
}

table th ,td {
    border-spacing: 0px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
